.custom {
  font-family: "Quicksand";
  text-align: left;
  left: 7%;
  top: 10%;
  /* margin-bottom: 8%; */
}

.custom h1 {
    font-size: 72px;
  font-weight: 700;
  color: #253d4e;
}

.custom p {
    font-size: 30px;
}

.news-form {
  display: flex;
}

.news-form input {
  padding: 20px 20px;
  width: 300px;
}

.news-form button {
  width: 150px;
  background-color: #3BB77E;
}

.carousel-indicators [data-bs-target] {
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
  width: 15px;
  height: 15px;
}

.carousel-indicators [data-bs-target]:active {
  background: #3BB77E;
}

@media  (max-width: 1282px) {
  .custom {
    display: flex;
    flex-direction: column;
    /* left: 7; */
    margin-bottom: 0;
  }
  .custom h1 {
    font-size: 40px !important;
  }

  .custom p {
    font-size: 20px;
  }
  .news-form input {
    padding: 0px 16px;
    width: auto;
    height: 46px;
    font-size: 14px;

  }
  .news-form button {
    padding: 0;
    width: auto;
    height: 44px;
    font-size: 12px;
  }
}

@media  (max-width: 768px) {
  .custom {
    display: flex;
    flex-direction: column;
    /* left: 7; */
    margin-bottom: 0;
  }
  .custom h1 {
    font-size: 28px !important;
  }

  .custom p {
    font-size: 14px;
  }
  .news-form input {
    padding: 0px 10px;
    width: auto;
    height: 32px;
    font-size: 14px;

  }
  .news-form button {
    padding: 0px 12px;
    height: 30px;
    font-size: 12px;
  }
}

@media  (max-width: 644px) {
  .custom {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .custom h1 {
    font-size: 22px !important;
  }

  .custom p {
    font-size: 14px;
  }
  .news-form input {
    padding: 0px 10px;
    width: auto;
    height: 28px;
    font-size: 14px;

  }
  .news-form button {
    padding: 0px 12px;
    height: 26px;
    font-size: 12px;
  }
  .carousel-indicators [data-bs-target] {
    display: none;
  }
}

@media  (max-width: 496px) {
  .custom {
    display: flex;
    flex-direction: column;
    top: 10% !important;
  }
  .custom h1 {
    font-size: 12px !important;
    margin-bottom: 6px;
  }

  .custom p {
    font-size: 8px;
    margin-bottom: 6px;
  }
  .news-form input {
    padding: 0px 10px;
    width: auto;
    height: 20px;
    font-size: 8px;
  }
  .news-form button {
    padding: 0px 10px !important;
    height: 18px;
    font-size: 8px !important;
  }
  .carousel-indicators [data-bs-target] {
    display: none;
  }
}