* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.main {
  width: 380px;
  height: auto;
  min-height: 330px;
  border: 1px solid rgb(186, 217, 186);
  border-radius: 12px;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
  /* overflow: hidden;
  float: left; */
}

.flex {
  display: flex;
  justify-content: space-between;
}

.left ul,
.right ul {
  list-style: none;
  margin: 20px 10px;
}

.left li,
.right li {
  background: rgb(229, 246, 226);
  border: 1px solid white;
  width: 150px;
  padding: 10px 5px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.left li:hover,
.right li:hover {
  border: 1px solid rgb(186, 217, 186);
  color: #3bb77e;
}

.main img {
  width: 20px;
  margin-right: 4px;
  cursor: pointer;
}

.main p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #3bb77e;
}
