.card .hover-img{
    display: none;
    position: absolute;
    top: 0;
    left: 0px;
    height: 245px;
    width: 245px;
    /* margin-left: 100px; */
    z-index: 99;
    overflow: hidden;
    transition: 1s;
    -webkit-transition: 2s ease-in-out;
}

.text-bg-dark {
    background-color: white !important;
    }
.card:hover .hover-img {
    display: inline;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px , 1fr));
    align-items: center;
    margin: 50px 0px;
    text-align: center;
}

.col {
    margin: 10px 20px;
    margin-left: 0px;
}

.card-img-top {
    height: 245px;
    width: 245px !important;
    margin: 0 auto;
}

.card-text {
    /* font-size: 14px; */
    font-weight: 800;
    cursor: pointer;
}

.card-text:hover {
    color: #3bb77e;
}

.card-container .card {
    margin: 0px 7px; 
    margin-bottom: 20px
}

.banner-container .card {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 20px 0px;
    border: 1px solid #ececec;

}

.banner-container .card img {
    border: 1px solid #ececec;
}

.banner-container .card img:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #BCE3C9;
}

.custom-links-list  button{
    color: #444;
    font-weight: 700;
}

.custom-links-list button:hover {
    color: #3bb77e;
}

.custom-links-list button:visited {
    color: #444;
}

.custom-links-list button:active {
    color: #3bb77e;
}

.section-title h3 {
    font-weight: 900;
    font-size: 30px;
}

.custom-banners a {
    padding: 7px 8px 7px 12px;
    border: 1px solid #3bb77e;
    background-color: #3bb77e;
    color: #fff;
    font-size: 12px;
    text-transform: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.3;
}

.custom-banners a:hover {
    background: #d29531;
    color: #fff;
}

.custom-banners h4 {
    font-weight: 700;
    margin-bottom: 15px;
    min-height: 100px;
    /* width: 210px; */
    font-size: 24px;
    color: #253D4E !important;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 20%;
    left: 10%;
    width: 52%;
}

.custom-banners .card-img {
    width: 100%;
    max-width: 516px;
    height: auto;
}

.custom-links-list {
    display: flex;
    flex-wrap: wrap;
}

.newsletter-content form input {
    padding-left: 20px;
}

@media screen and (max-width: 992px) {
    /* .custom-links-list {
        display: block;
    } */
}

@media (max-width:768px) {
    .d-flex {
      display: block !important;
    }
  }

  @media (max-width:448px) {
    .custom-banners .card-img-overlay {
        display: block;
        top: 10%;
    }
    .custom-banners h4 {
        font-size: 18px;
        min-height: auto;
        top: 4%;
    }
    .custom-banners a {
        padding: 7px 8px 7px 12px;
        border: none;
        background-color: #3bb77e;
        color: #fff;
        font-size: 10px;
        text-transform: none;
        display: inline-block;
        line-height: 1;
    }
  }