.navbar {
  overflow: hidden;
  background-color: rgb(245, 255, 250);
  margin-top: 10px;
  padding: 10px 0px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  position: fixed;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.browser-btn {
  background: #3bb77e;
  border: #3bb77e;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.browser-btn img {
  width: 30px;
  height: auto;
  margin-top: 6px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: #3bb77e;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover {
  color: #3bb77e;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.main {
  width: 380px;
  height: auto;
  min-height: 330px;
  border: 1px solid rgb(186, 217, 186);
  border-radius: 12px;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
  /* overflow: hidden;
    float: left; */
}

.flex {
  display: flex;
  justify-content: space-between;
}

.left ul,
.right ul {
  list-style: none;
  margin: 20px 10px;
}

.left li,
.right li {
  background: rgb(229, 246, 226);
  border: 1px solid white;
  width: 150px;
  padding: 10px 5px;
  margin-bottom: 8px;
  border-radius: 6px;
  color: black;
}

.left li:hover,
.right li:hover {
  border: 1px solid rgb(186, 217, 186);
  color: #3bb77e;
}

.main img {
  width: 20px;
  margin-right: 4px;
  cursor: pointer;
}

.main p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #3bb77e;
}

.support {
  position: fixed;
  right: 300px;
  display: flex;
}

.support h2 {
  font-size: 30px;
  font-weight: 600;
  color: #3bb77e;
}
