* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.items ul li{
margin: 0px 20px;
}
.main {
  border-radius: 12px;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
}

.flex {
  display: flex;
  /* justify-content: space-between; */
}

.left ul,
.right ul {
  list-style: none;
}

.left li,
.right li {
  border: 1px solid white;
  padding: 10px 5px;
  margin-bottom: 8px;
  border-radius: 6px;
  color: black;
}

.left a,
.right a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
}

.left li:hover,
.right li:hover {
  border: 1px solid rgb(186, 217, 186);
  color: #3bb77e;
}

.main img {
  max-width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.main p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #000;
}
.browser-btn {
  background: #3bb77e;
  border: #3bb77e;
  border-radius: 5px;
  padding: 0px 16px;
  font-size: 18px;
  height: 40px;
  color: white;
  cursor: pointer;
}

.browser-btn img {
  width: 30px;
  height: auto;
}

.browser-btn {
  display: flex;
  align-items: center;
}

.browser-btn p{
    margin-top: 18px;
}

@media screen and (max-width: 768px) {
    .flex{
        flex-wrap: wrap;
    }
}