* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.items ul li {
  margin: 0px 20px;
}
.main {
  border-radius: 12px;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
}

.flex {
  display: flex;
  /* justify-content: space-between; */
}

.left ul,
.right ul {
  list-style: none;
}

.left li,
.right li {
  border: 1px solid white;
  padding: 10px 5px;
  margin-bottom: 8px;
  border-radius: 6px;
  color: black;
}

.left a,
.right a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
}

.left li:hover,
.right li:hover {
  border: 1px solid rgb(186, 217, 186);
  color: #3bb77e;
}

.main img {
  max-width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.main p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #000;
}
.browser-btn {
  background: #3bb77e;
  border: #3bb77e;
  border-radius: 5px;
  padding: 0px 16px;
  font-size: 18px;
  height: 40px;
  color: white;
  cursor: pointer;
}

.browser-btn img {
  width: 30px;
  height: auto;
}

.browser-btn {
  display: flex;
  align-items: center;
}

.browser-btn p {
  margin-top: 18px;
}

.dropdown-menu .dropdown-item img {
  max-width: 15px;
  display: inline-block;
  margin-right: 5px;
}

.last-header {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  margin: 10px 0px;
  padding: 20px 10px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}

.top-header > ul > li  {
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
  /* /* display: -webkit-box; */
}

.top-header > ul > li > a {
  padding: 0px 0px;
}

.top-header > ul > li:before {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background: #dedfe2;
}

.top-header a {
  color: #7e7e7e;
}

.top-header a:hover {
  color: #000;
}

.top-header .dropdown-menu {
  z-index: 1040;
}

.top-header .dropdown .dropdown-item {
  font-size: 14px;
}

.sub-header {
  margin-bottom: 20px;
  background: #fff;
}


.sub-header .logo {
  width: 230px;
}

.sub-header .custom-drop-style {
  z-index: 1030;
  border: 1px solid rgb(216, 215, 215);
  border-radius: 4px;
  height: 40px;
  padding: 2px;
  position: relative;
  color: #3bb77e;
  font-weight: 500;
  margin-left: 100px;
}

.sub-header .custom-drop-style select {
  color: #3bb77e;
  border: none;
}

.sub-header .custom-drop-style select:hover {
  outline: none;
}

.sub-header .custom-drop-style img {
  margin-top: 10px;
  margin-left: 10px;
}

option {
  color: #7e7e7e;
}

option:hover {
  color: #3bb77e;
}

#banner {
  text-align: center;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: white!important;
}

.sub-header .custom-input {
  border: 2px solid #bce3c9;
  border-radius: 4px;
  max-width: 700px;
  width: 600px;
  height: 50px;
  background-color: #fff;
}
.sub-header .custom-input input {
  max-width: 600px;
  border-width: 0px;
  border-radius: 0 5px 5px 0;
  margin-left: 20px;
  height: 45px;
  font-size: 14px;

  /* background-color: #fff; */
  border: none;
  outline: none;
}

.sub-header .custom-input select {
  outline: none;
  margin: 0px 10px;
  line-height: 50px;

  font-size: 14px;
  font-weight: bolder;
  color: #253d4e;
}

.sub-header .right-items a {
  color: #7e7e7e;
  text-decoration: none;
  padding: 0 5px;
}

.my-account-dropdown .dropdown-menu {
  z-index: 1030;
  padding: 10px 10px;
  width: 200px;
}

.my-account-dropdown .dropdown-menu a {
  font-size: 14px;
  display: flex;
  padding: 10px 10px;
  flex-wrap: wrap;
  color: #253D4E;
}

.my-account-dropdown a img {
  height: 16px;
}

.my-account-dropdown .dropdown-menu a:hover {
  /* background-color: #3bb77e; */
  color: #3bb77e;
}

.header-action-2 .header-action-icon-2 {
  position: relative;
  display: flex;
  padding: 0 10px;
}

.header-action-2 .header-action-icon-2 > a img {
  width: 100%;
  max-width: 25px;
}

.header-action-2 .header-action-icon-2 > a span.pro-count.blue {
  background-color: #3bb77e;
}

.header-action-2 .header-action-icon-2 > a span.pro-count {
  position: absolute;
  right: -11px;
  top: -5px;
  color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.last-header .dropdown-menu .dropdown-item img {
  max-width: 30px!important;
}

.hotline h2 {
  font-size: 26px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  display: block;
  line-height: 1;
  color: #3bb77e;
}

.hotline img {
  margin-right: 10px;
}

.hotline p{
  font-weight: 500;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #7E7E7E;
  display: block;
  letter-spacing: 0.9px;
  margin-top: -10px;
}

.custom-support {
  display: flex;
  flex-direction: column;
  height: 30px;
}


::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 996px) {
  .top-header {
    display: none;
  }
  .sub-header {
    display: none;
  }
}
