* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.main-container {
  font-family: "Quicksand", sans-serif;
}

.top-body {
  display: flex;
}
.top-body .left-fix {
  width: 75%;
  display: flex;
}

.top-body .right-fix {
  width: 25%;
}

.route-header {
  display: flex;
  padding: 30px 0px;
  font-size: 14px;
  font-weight: 600;
  color: #7e7e7e;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  font-family: "Quicksand", sans-serif;
}

.route-header a {
  text-decoration: none;
  color: #3bb77e;
  display: flex;
}

.route-header > a > img {
  height: 16px;
}

.route-header a:hover {
  color: #ecc06e;
}

.route-header span::before {
  content: "\f111 >";
  font-family: "uicons-regular-straight" !important;
  font-size: 10px;
  margin-right: 10px;
  width: 10px;
}

.top-left-body {
  width: 45%;
}

.top-left-body .img-body img {
  position: relative;
  /* top: 22%; */
  /* left: 10%; */
  /* height: 512px; */
  width: 512px;
  border: 1px solid #ececec;
  border-radius: 15px;
  margin-top: 20px;
}

.top-body> .left-fix > .top-left-body > .card-list {
  display: flex;
}

.card-list .item {
  position: relative;
  width: 118px;
  border: 1px solid #fff;
  margin: 20px 5px;
}

.card-list .item:hover {
  border: 2px solid #a2d2c9;
  border-radius: 20px;
}

.top-mid-body {
  margin-left: 20px;
  width: 55%;
}

.top-mid-body > p {
  color: #f74b81;
  background: #fde0e9;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 13px;
  border-radius: 5px;
}

.top-mid-body > h2 {
  font-size: 40px;
  color: #253d4e;
  font-weight: 800;
}

.top-mid-body > h1 {
  font-size: 58px;
  font-weight: 900;
  color: #3bb77e;
  display: flex;
  margin-top: 20px;
}

.offering {
  display: block;
  margin-left: 10px;
  margin-top: 15px;
}

.top-mid-body > h1 > .offering > p {
  font-size: 12px;
  color: #fdc040;
  margin-bottom: 2px;
}

.top-mid-body > h1 > .offering > h3 {
  text-decoration: line-through;
  color: #b6b6b6;
  font-size: 26px;
  font-weight: 600;
}

.short-desc p {
  font-size: 17px;
  color: #7e7e7e;
}

.top-mid-body > .size-weight-chart > ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.top-mid-body > .size-weight-chart > ul > strong {
  font-size: 14px;
}

.top-mid-body > .size-weight-chart > ul > li {
  padding: 9px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.top-mid-body > .size-weight-chart > ul > li:hover {
  color: #fff;
  background: #3bb77e;
}

.top-mid-body > .extarlinks {
  margin-bottom: 50px;
}

.top-mid-body > .extarlinks > input {
  max-width: 90px;
  padding: 11px 20px 11px 36px;
  border: 2px solid #3bb77e !important;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  color: #3bb77e;
  margin: 0 10px 0 5px;
}

.top-mid-body > .extarlinks > button[type="submit"] {
  border-radius: 5px !important;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 28px;
}

.top-mid-body > .extarlinks > button[type="submit"]:hover {
  background: #29a56c !important;
}

.top-mid-body > .extarlinks > a > img {
  border: 1px solid #f1f1f1;
  line-height: 50px;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.top-mid-body > .extarlinks > a > img:hover {
  transform: translateY(-5px);
  background: #3bb77e;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.top-mid-body > .product-info {
  display: flex;
  align-items: center;
  text-align: center;
}

.top-mid-body > .product-info > ul {
  list-style: none;
  margin-right: 50px;
}

.top-mid-body .product-info ul > li {
  display: flex;
  align-items: baseline;
  font-size: 14px;
}

.top-mid-body .product-info ul > li > p {
  color: #3bb77e;
  font-size: 13px;
  margin-left: 6px;
  font-weight: 600;
}

.top-right-body {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.top-right-body .catagory,
.top-right-body .price,
.top-right-body .new-products {
  border: 1px solid #ececec;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.top-right-body > .catagory > h4,
.top-right-body > .price > h4,
.top-right-body > .new-products > h4 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0cece;
  margin-bottom: 30px;
}

/* .top-right-body > .catagory > h4::after, .top-right-body > .price >h4 ::after {
  content: "";
    width: 88px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #BCE3C9;
} */

.top-right-body > .catagory > ul {
  list-style: none;
}

.top-right-body > .catagory > ul > li > a > img {
  max-width: 30px;
  margin-right: 15px;
}

.top-right-body > .catagory > ul > li > a {
  text-decoration: none;
  color: #253d4e;
  line-height: 1.5;
  font-weight: 700;
  font-size: 14px;
}

.top-right-body > .catagory > ul > li > a:hover {
  color: #3bb77e;
}

.top-right-body > .catagory > ul > li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #efeeee;
  border-radius: 5px;
  padding: 8px 18px;
  align-items: center;
  margin: 20px 0;
}

.top-right-body > .catagory > ul > li:hover {
  border: 1px solid #bce3c9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.top-right-body > .catagory > ul > li > p {
  font-size: 12px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 20px;
  background: #bce3c9;
  margin: 0;
}

.top-right-body > .price {
  background: url(https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/fillter-widget-bg.png)
    no-repeat right bottom;
  background-size: 150px;
}

.top-right-body > .price > .range {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.top-right-body > .price > .range > p > strong {
  color: #3bb77e;
}

.top-right-body > .price > label {
  font-weight: 900;
  font-size: 14px;
}

.top-right-body > .price > .chkbox {
  padding: 10px;
}

.top-right-body > .price > .chkbox > input {
  margin-right: 10px;
  padding: 6px;
  border-radius: 2px;
}

.top-right-body > .price > .chkbox > input[type="checkbox"]:checked {
  background-color: #3bb77e;
  border-color: #3bb77e;
}

.top-right-body > .price > .chkbox > label {
  padding: 6px 0;
  font-size: 14px;
  color: #687188;
  cursor: pointer;
}

input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #3bb77e;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #3bb77e;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #3bb77e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type="range"]::-ms-fill-lower {
  background: #3bb77e;
}
input[type="range"]::-ms-fill-upper {
  background: #ddd;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3bb77e;
}

.top-right-body > .price > button[type="submit"] {
  border-radius: 5px !important;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 24px;
  transition: all 300ms linear 0s;
}

.top-right-body > .price > button[type="submit"]:hover {
  background: #fcbd46;
  border: 1px solid #fcbd46;
  transform: scaleX(1.2);
}

.top-right-body > .new-products > .single-new {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
}

.top-right-body > .new-products > .single-new > .new-info > h5 {
  font-size: 16px;
  color: #3bb77e;
  font-weight: 900;
}

.top-right-body > .new-products > .single-new > img {
  margin-right: 20px;
}

.top-right-body p {
  margin: 0;
}

.top-right-body > .banner-img {
  background: url(https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-11.png)
    no-repeat center;
  background-size: cover;
  min-height: 350px;
  border: 1px solid #eceece;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 20px;
}

.top-right-body > .banner-img > .banner-text {
  position: relative;
  top: 30%;
  z-index: 2;
  padding: 0 50px;
}

.top-right-body > .banner-img > .banner-text > span {
  font-size: 14px;
  color: #adadad;
}

.top-right-body > .banner-img > .banner-text > h4 {
  font-weight: 700;
}

.top-right-body > .banner-img > .banner-text > h4 > strong {
  color: #3bb77e;
}

