.route-header {
  display: flex;
  flex: wrap;
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #7e7e7e;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  font-family: "Quicksand", sans-serif;
}

.route-header > a > p {
  margin: 0;
}

.route-header a {
  text-decoration: none;
  color: #3bb77e;
  display: flex;
  flex-wrap: wrap;
}

.route-header > a > img {
  height: 16px;
}

.route-header a:hover {
  color: #ecc06e;
}

.route-header span::before {
  content: "\f111 >";
  font-family: "uicons-regular-straight" !important;
  font-size: 10px;
  margin-right: 10px;
  width: 10px;
}

.main-body {
  display: flex;
  padding: 150px;
}

.left-content {
  width: 25%;
}

.right-content {
  width: 75%;
}

.left-content .dashboard-menu ul {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.left-content .dashboard-menu ul li {
  display: flex;
  border: 1px solid #ececec;
  margin-bottom: 10px;
  padding: 15px 30px;
  border-radius: 10px;
  color: #7e7e7e;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.left-content .dashboard-menu ul li img {
  margin-right: 10px;
  vertical-align: bottom;
}

.left-content .dashboard-menu ul li:active,
.left-content .dashboard-menu ul li:hover {
  background-color: #3bb77e;
  color: #fff;
}

.right-content {
  padding-left: 50px;
}

.right-content h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  color: #253d4e;
  font-weight: 700;
  line-height: 1.2;
  padding: 16px;
  margin: 0;
}

.right-content p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 600;
  line-height: 24px;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #3bb77e;
  font-weight: 600;
}

a:hover {
  color: #fdc040;
}

.right-content .tab2 {
  overflow: auto;
}

.right-content .tab2 table {
  border: 1px solid #dee2e6;
  padding: 8px;
}

.right-content .tab2 table th {
  font-size: 17px;
}

.right-content .tab2 table td {
  font-size: 14px;
}

.tab3-content {
  padding: 16px;
}

.tab3-content p {
  padding: 0;
  font-weight: 600;
}

.tab3-content .tab3-form {
  width: 66.67%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.tab3-content .tab3-form label,
.tab5-content form label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #7e7e7e;
}

.tab3-content .tab3-form input,
.tab5-content form input {
  border: 1px solid #ececec;
  border-radius: 10px;
  height: 64px;
  box-shadow: none;
  padding: 6px 12px 6px 20px;
  font-size: 16px;
  width: 100%;
}

.order-id,
.email {
  margin-bottom: 20px;
}

.tab3-content .tab3-form button {
  font-size: 17px;
  font-weight: 500;
  padding: 20px 40px;
  color: #ffffff;
  border: none;
  background-color: #253d4e;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}

.tab4-content {
  display: flex;
  flex-wrap: wrap;
}

.tab4-content .billing-address,
.shipping-address {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.address-body {
  padding: 16px;
}

.address-body p {
  padding: 0;
  font-weight: normal;
}

address {
  margin: 0;
  color: #7e7e7e;
  font-size: 14px;
}

h5 {
  padding: 16px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.tab5-content p {
  /* padding: 0; */
  margin-bottom: 5px;
  font-weight: 600;
}

.tab5-form {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.tab5-form .dname {
  display: flex;
}

.tab5-content form label {
  margin-bottom: 15px;
}

.tab5-content form label input {
  margin-top: 5px;
}

.dname > label {
  width: 100%;
  padding: 0 12px;
  margin-bottom: 16px;
}

.tab5-content .tab5-form button {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 40px;
  color: #ffffff;
  border: none;
  background-color: #3bb77e;
  border: 1px solid #29a56c;
  border-radius: 10px;
}

.tab5-content .tab5-form button:hover {
  background-color: #29a56c;
}

@media (max-width: 1200px) {
  .main-body {
    padding: 150px 0;
  }
}

@media (max-width: 767px) {
  .main-body {
    display: block;
    padding: 150px 50px;
  }

  .tab4-content {
    display: block;
  }
  .tab4-content .billing-address,
  .shipping-address {
    width: 100%;
  }

  .left-content {
    width: 100%;
  }
  .right-content {
    width: 100%;
    padding: 0;
  }
  .tab5-form .dname {
    display: block;
  }
}

@media (max-width: 448px) {
  .main-body {
    padding: 150px 0;
  }
  .right-content h3 {
    font-size: 30px;
  }
}
